/* CSS declarations go here */
.btn .btn-default {
  width: 200px;
  /*border-radius: 0px;*/
}

.navbar-default {
  background-color: #e74c3c;
}

.container .main {
  margin-top: 80px
}

.col-xs-2 {
  width: 300px;

}
